[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
sklearn = "*"
scikit-learn = "*"
imblearn = "*"
gunicorn = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.10"
